{
  "extends": "stylelint-config-airbnb",
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "after-same-name",
          "first-nested"
        ]
      }
    ],
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ]
      }
    ],
    "max-nesting-depth": [2, {
      "ignore": [
        "blockless-at-rules",
        "pseudo-classes"
      ]
    }]
  }
}
