@import "~normalize.css";
@import "common/fonts";
@import "common/colors";
@import "common/mixins";
@import "common/vars";

body {
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}